/* MAIN */

html, body {
    height: 100%;
	overflow:hidden;
	font-family: 'Public Sans', -apple-system, sans-serif;
}
body {
    background-image: url("../images/wimlogoCompact.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color:#474747;
}
.keepit100 {
    height: 100%;
}

/* MAP STUFF */

.map {
    overflow: auto;
}
#mapDiv {
    min-height: 100%;
    max-height: 100%;
}
#mapDiv_zoom_slider {
    background-color: #eceef3;
    border-radius: 0px;
    border-color: transparent;
    margin: 0;
    left: 13px;
    top: 60px;
    box-shadow: 0 3px 6px rgba(30, 39, 50, 0.1), 0 3px 6px rgba(30, 39, 50, 0.1);
  }
  #mapDiv_zoom_slider span {
    color: #6F758E;
  }
  #mapDiv_zoom_slider .esriSimpleSliderVertical,
  #mapDiv_zoom_slider .esriSimpleSliderIncrementButton,
  #mapDiv_zoom_slider .esriSimpleSliderDecrementButton {
    border-color: transparent;
    border-bottom: 0px solid black !important;
    border-radius: 0;
  }
  #mapDiv_zoom_slider .esriSimpleSliderVertical:hover,
  #mapDiv_zoom_slider .esriSimpleSliderIncrementButton:hover,
  #mapDiv_zoom_slider .esriSimpleSliderDecrementButton:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .latLngScale {
    position:absolute;
    padding:4px;
    bottom:1.6em;
    left: 20px;
    z-index:99999;
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
}
.latLngScale:hover .hover-content {
    display:inline-block;
}
.info {
  background:#fff;
  position:absolute;
  width:260px;
  top:10px;
  right:10px;
  border-radius:2px;
  }
  .info .item {
    display:block;
    border-bottom:1px solid #eee;
    padding:10px;
    text-decoration:none;
    }
    .info .item small { color:#888; }
    .info .item:hover,
    .info .item.active { background:#f8f8f8; }
    .info .item:last-child { border-bottom:none; }

.leaflet-popup-content {
width:240px;    
}

.tabs {
  position:relative;
  min-height:200px;
  clear:both;
  margin:25px 0;
}
.tab {
  float:left;
  display: none;
}
.tab:first-of-type {
  display: inline-block;
}
.tabs-link {
  position: relative;
  top: -14px;
  height: 20px;
  left: -40px;
}
.tab-link {
  background:#eee;
  display: inline-block;
  padding:10px;
  border:1px solid #ccc;
  margin-left:-1px;
  position:relative;
  list-style-type: none;
  left:1px;
  top:1px;
  cursor:pointer;
}
.tab-link {
  background:#f8f8f8;
}
.content {
  background:white;
  position:absolute;
  top:28px;
  left:0;
  right:0;
  bottom:0;
  padding:20px;
  border:1px solid #ccc;
}
.tab:target {
  display: block;
}

/* NAVBAR TOP STUFF */

#navbar {
    background-color: #0c141e;
    box-sizing: border-box;
  }
  #navbar .navbar-toggle {
    background-color: transparent;
    border: none;
    display: inline-block;
    padding: 0;
    margin: 0 20px 0 0;
    padding: 0 15px 0 15px;
    margin-left: -5%;
  }
  #navbar .navbar-toggle .icon-bar {
    height: 2px;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.8);
  }
  @media (max-width: 768px) {
    #navbar .navbar-toggle {
      margin: 0;
    }
  }
  #navbar .navbar-toggle:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
  }
  #navbar .navbar-toggle:hover .icon-bar {
    background-color: #FFFFFF;
  }
  #navbar .navbar-brand {
    padding: 0 0 0 15px;
  }
  #navbar .navbar-brand span {
    color: #FFFFFF;
    font-weight: 300;
    letter-spacing: 1.25px;
    box-sizing: border-box;
    padding: 0px 0 0 15px;
    height: 100%;
    line-height: 50px;
    float: right;
  }
  #navbar .navbar-text {
    color: #ffffff;
    font-weight: 200;
    letter-spacing: -0.5px;
  }
  @media (max-width: 1015px) {
    #navbar .navbar-text {
      font-size: 12pt;
    }
  }
.search-bar {
    margin:0px;
    padding-left:0px;
}
#sapi-searchTextBox {
    font-family: 'Open Sans', sans-serif !important;
    width: 100% !important;
    height: 35px !important;
    padding: 6px 12px !important;
    margin-left: 0px !important;
    border-radius: 2px !important;
    border: 2px solid rgba(45, 49, 70, 0.23) !important;
}
.sapi .ui-autocomplete {
    font-family: 'Open Sans', sans-serif !important;
    border-radius: 4px !important;
}
.sapi-autocomplete-title {
    font-family: 'Open Sans', sans-serif !important;
    background-color : #2D3146 !important
}
.sapi-autocomplete-tip {
    font-family: 'Open Sans', sans-serif !important;
}
.sapi-autocomplete-category {
    font-family: 'Open Sans', sans-serif !important;
    background-color : #0071BC !important
}
.sapi-autocomplete-item {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 200 !important;
}
.sapi-autocomplete-item {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 200 !important;
}
.sapi-autocomplete-itemAnnotation {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold !important;
}
.overflow-y-hidden {
    overflow-y: hidden;
}

/* SIDEBAR */

.no-col-padding {
    padding: 0;
}

[class*="col-"] {
    background-color: #eee;
    border: 1px solid #E7E7E7;
    text-align: center;
}
#sidebar {
    top: 50px;
    padding-bottom: 50px;
}


/* ALL LEGEND STUFF */







